body {
    background-color: #eee;
    color: #333;
    font-family: 'Merriweather', serif;
    margin: 0 0.5em 0 0.5em;
}
nav ul li {
    display: inline;
    list-style-type: none;
}
nav ul li::after {
    content: " |"
}
nav ul li:last-child::after {
    content: ""
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Narrow', sans-serif;
}
